/*!
 * reveal.js
 * http://lab.hakim.se/reveal-js
 * MIT licensed
 *
 * Copyright (C) 2011-2012 Hakim El Hattab, http://hakim.se
 */
/*********************************************
 * RESET STYLES
 *********************************************/
/* line 15, ../reveal-gdi.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 25, ../reveal-gdi.scss */
.reveal div, .reveal span, .reveal applet, .reveal object, .reveal iframe, .reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6, .reveal p, .reveal blockquote, .reveal pre, .reveal a, .reveal abbr, .reveal acronym, .reveal address, .reveal big, .reveal cite, .reveal code, .reveal del, .reveal dfn, .reveal em, .reveal img, .reveal ins, .reveal kbd, .reveal q, .reveal s, .reveal samp, .reveal small, .reveal strike, .reveal strong, .reveal sub, .reveal sup, .reveal tt, .reveal var, .reveal b, .reveal u, .reveal i, .reveal center, .reveal dl, .reveal dt, .reveal dd, .reveal ol, .reveal ul, .reveal li, .reveal fieldset, .reveal form, .reveal label, .reveal legend, .reveal table, .reveal caption, .reveal tbody, .reveal tfoot, .reveal thead, .reveal tr, .reveal th, .reveal td, .reveal article, .reveal aside, .reveal canvas, .reveal details, .reveal embed, .reveal figure, .reveal figcaption, .reveal footer, .reveal header, .reveal hgroup, .reveal menu, .reveal nav, .reveal output, .reveal ruby, .reveal section, .reveal summary, .reveal time, .reveal mark, .reveal audio {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 35, ../reveal-gdi.scss */
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 45, ../reveal-gdi.scss */
.reveal article, .reveal aside, .reveal details, .reveal figcaption, .reveal figure, .reveal footer, .reveal header, .reveal hgroup, .reveal menu, .reveal nav, .reveal section {
  display: block;
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/
/* line 54, ../reveal-gdi.scss */
html {
  width: 100%;
  height: 100%;
  min-height: 600px;
  overflow: hidden;
}

/* line 61, ../reveal-gdi.scss */
body {
  width: 100%;
  height: 100%;
  min-height: 600px;
  overflow: hidden;
  position: relative;
  line-height: 1;
}

/* line 70, ../reveal-gdi.scss */
::selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none;
}

@media screen and (max-width: 900px) {
  /* line 77, ../reveal-gdi.scss */
  .reveal {
    font-size: 30px;
  }
}
/* line 83, ../reveal-gdi.scss */
.reveal .badge {
  width: 45%;
}
/* line 86, ../reveal-gdi.scss */
.reveal footer {
  position: fixed;
  height: 40px;
  width: 100%;
  bottom: 3px;
  left: 0;
  z-index: 10;
  font-size: 35%;
  text-align: right;
  background: url("https://s3.amazonaws.com/gdichicago-cdn/reveal.js/css/images/pink-logo.png") no-repeat 5px 0;
  background-size: auto 100%;
}
/* line 97, ../reveal-gdi.scss */
.reveal footer .copyright {
  margin: 15px 5px 0 100px;
  font-style: italic;
}
/* line 100, ../reveal-gdi.scss */
.reveal footer .copyright a img {
  vertical-align: middle;
}

/*********************************************
* OVERRIDES
**********************************************/
/* line 119, ../reveal-gdi.scss */
.left-align {
  text-align: left;
}

/* line 123, ../reveal-gdi.scss */
.right-align {
  text-align: right;
}

/* line 127, ../reveal-gdi.scss */
.left {
  float: left;
}

/* line 131, ../reveal-gdi.scss */
.right {
  float: right;
}

/* line 135, ../reveal-gdi.scss */
.clear {
  clear: both;
}

/* line 139, ../reveal-gdi.scss */
.blue {
  color: #4ba1c8;
}

/* line 143, ../reveal-gdi.scss */
.green {
  color: #92bb44;
}

/* line 147, ../reveal-gdi.scss */
.yellow {
  color: #edab23;
}

/* line 151, ../reveal-gdi.scss */
.pink {
  color: #f05b62;
}

/* line 155, ../reveal-gdi.scss */
.red {
  color: #8b0036;
}

/*********************************************
 * HEADERS
 *********************************************/
/* line 164, ../reveal-gdi.scss */
.reveal h1 {
  font-size: 3.77em;
}
/* line 167, ../reveal-gdi.scss */
.reveal h2 {
  font-size: 2.11em;
}
/* line 170, ../reveal-gdi.scss */
.reveal h3 {
  font-size: 1.55em;
}
/* line 173, ../reveal-gdi.scss */
.reveal h4 {
  font-size: 1em;
}
/* line 176, ../reveal-gdi.scss */
.reveal .slides section {
  line-height: 1.2em;
  font-weight: normal;
}
/* line 177, ../reveal-gdi.scss */
.reveal .slides section .fragment {
  opacity: 0;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
/* line 184, ../reveal-gdi.scss */
.reveal .slides section .fragment.visible {
  opacity: 1;
}
/* line 187, ../reveal-gdi.scss */
.reveal .slides section .fragment.grow {
  opacity: 1;
}
/* line 189, ../reveal-gdi.scss */
.reveal .slides section .fragment.grow.visible {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}
/* line 197, ../reveal-gdi.scss */
.reveal .slides section .fragment.shrink {
  opacity: 1;
}
/* line 199, ../reveal-gdi.scss */
.reveal .slides section .fragment.shrink.visible {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
  transform: scale(0.7);
}
/* line 207, ../reveal-gdi.scss */
.reveal .slides section .fragment.roll-in {
  opacity: 0;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
/* line 214, ../reveal-gdi.scss */
.reveal .slides section .fragment.roll-in.visible {
  opacity: 1;
  -webkit-transform: rotateX(0);
  -moz-transform: rotateX(0);
  -ms-transform: rotateX(0);
  -o-transform: rotateX(0);
  transform: rotateX(0);
}
/* line 223, ../reveal-gdi.scss */
.reveal .slides section .fragment.fade-out {
  opacity: 1;
}
/* line 225, ../reveal-gdi.scss */
.reveal .slides section .fragment.fade-out.visible {
  opacity: 0;
}
/* line 229, ../reveal-gdi.scss */
.reveal .slides section .fragment.highlight-red, .reveal .slides section .fragment.highlight-green, .reveal .slides section .fragment.highlight-blue {
  opacity: 1;
}
/* line 232, ../reveal-gdi.scss */
.reveal .slides section .fragment.highlight-red.visible {
  color: #ff2c2d;
}
/* line 235, ../reveal-gdi.scss */
.reveal .slides section .fragment.highlight-green.visible {
  color: #17ff2e;
}
/* line 238, ../reveal-gdi.scss */
.reveal .slides section .fragment.highlight-blue.visible {
  color: #1b91ff;
}
/* line 245, ../reveal-gdi.scss */
.reveal img {
  /* preserve aspect ratio and scale image so it's bound within the section */
  max-width: 100%;
  max-height: 100%;
}
/* line 250, ../reveal-gdi.scss */
.reveal strong, .reveal b {
  font-weight: bold;
}
/* line 253, ../reveal-gdi.scss */
.reveal em, .reveal i {
  font-style: italic;
}
/* line 256, ../reveal-gdi.scss */
.reveal ol, .reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em;
}
/* line 261, ../reveal-gdi.scss */
.reveal ol {
  list-style-type: decimal;
}
/* line 264, ../reveal-gdi.scss */
.reveal ul {
  list-style-type: disc;
}
/* line 266, ../reveal-gdi.scss */
.reveal ul ul {
  list-style-type: square;
  display: block;
  margin-left: 40px;
}
/* line 268, ../reveal-gdi.scss */
.reveal ul ul ul {
  list-style-type: circle;
}
/* line 274, ../reveal-gdi.scss */
.reveal ul ol {
  display: block;
  margin-left: 40px;
}
/* line 280, ../reveal-gdi.scss */
.reveal ol ol, .reveal ol ul {
  display: block;
  margin-left: 40px;
}
/* line 285, ../reveal-gdi.scss */
.reveal p {
  margin-bottom: 10px;
  line-height: 1.25em;
}
/* line 289, ../reveal-gdi.scss */
.reveal li {
  line-height: 1.3em;
}
/* line 292, ../reveal-gdi.scss */
.reveal q {
  quotes: none;
}
/* line 295, ../reveal-gdi.scss */
.reveal blockquote {
  quotes: none;
  display: block;
  position: relative;
  width: 80%;
  margin: 5px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}
/* line 305, ../reveal-gdi.scss */
.reveal blockquote:before {
  content: '\201C';
}
/* line 308, ../reveal-gdi.scss */
.reveal blockquote:after {
  content: '\201D';
}
/* line 312, ../reveal-gdi.scss */
.reveal q {
  font-style: italic;
}
/* line 314, ../reveal-gdi.scss */
.reveal q:before {
  content: '\201C';
}
/* line 317, ../reveal-gdi.scss */
.reveal q:after {
  content: '\201D';
}
/* line 321, ../reveal-gdi.scss */
.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 15px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
}
/* line 331, ../reveal-gdi.scss */
.reveal pre code {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
  padding: 5px;
}
/* line 336, ../reveal-gdi.scss */
.reveal code {
  font-family: monospace;
  overflow: auto;
  max-height: 400px;
}
/* line 342, ../reveal-gdi.scss */
.reveal table th, .reveal table td {
  text-align: left;
  padding-right: .3em;
}
/* line 346, ../reveal-gdi.scss */
.reveal table th {
  text-shadow: white 1px 1px 2px;
}
/* line 350, ../reveal-gdi.scss */
.reveal sup {
  vertical-align: super;
}
/* line 353, ../reveal-gdi.scss */
.reveal sub {
  vertical-align: sub;
}
/* line 356, ../reveal-gdi.scss */
.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top;
}
/* line 361, ../reveal-gdi.scss */
.reveal small * {
  vertical-align: top;
}
/* line 365, ../reveal-gdi.scss */
.reveal .controls {
  display: none;
  position: fixed;
  width: 110px;
  height: 110px;
  z-index: 30;
  right: 10px;
  bottom: 10px;
}
/* line 373, ../reveal-gdi.scss */
.reveal .controls div {
  position: absolute;
  opacity: 0.1;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -ms-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
/* line 384, ../reveal-gdi.scss */
.reveal .controls div.enabled {
  opacity: 0.6;
  cursor: pointer;
}
/* line 387, ../reveal-gdi.scss */
.reveal .controls div.enabled:active {
  margin-top: 1px;
}
/* line 391, ../reveal-gdi.scss */
.reveal .controls div.left {
  top: 42px;
  border-right-width: 22px;
  border-right-color: #eee;
}
/* line 396, ../reveal-gdi.scss */
.reveal .controls div.right {
  left: 74px;
  top: 42px;
  border-left-width: 22px;
  border-left-color: #eee;
}
/* line 402, ../reveal-gdi.scss */
.reveal .controls div.up {
  left: 42px;
  border-bottom-width: 22px;
  border-bottom-color: #eee;
}
/* line 407, ../reveal-gdi.scss */
.reveal .controls div.down {
  left: 42px;
  top: 74px;
  border-top-width: 22px;
  border-top-color: #eee;
}
/* line 415, ../reveal-gdi.scss */
.reveal .progress {
  position: fixed;
  display: none;
  height: 3px;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 10;
}
/* line 423, ../reveal-gdi.scss */
.reveal .progress:after {
  content: '';
  display: 'block';
  position: absolute;
  height: 20px;
  width: 100%;
  top: -20px;
}
/* line 431, ../reveal-gdi.scss */
.reveal .progress span {
  display: block;
  height: 100%;
  width: 0px;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}
/* line 442, ../reveal-gdi.scss */
.reveal .roll {
  display: inline-block;
  line-height: 1.2;
  overflow: hidden;
  vertical-align: top;
  -webkit-perspective: 400px;
  -moz-perspective: 400px;
  -ms-perspective: 400px;
  perspective: 400px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}
/* line 455, ../reveal-gdi.scss */
.reveal .roll:hover {
  background: none;
  text-shadow: none;
}
/* line 459, ../reveal-gdi.scss */
.reveal .roll span {
  display: block;
  position: relative;
  padding: 0 2px;
  pointer-events: none;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 480, ../reveal-gdi.scss */
.reveal .roll:hover span {
  background: rgba(0, 0, 0, 0.5);
  -webkit-transform: translate3d(0px, 0px, -45px) rotateX(90deg);
  -moz-transform: translate3d(0px, 0px, -45px) rotateX(90deg);
  -ms-transform: translate3d(0px, 0px, -45px) rotateX(90deg);
  transform: translate3d(0px, 0px, -45px) rotateX(90deg);
}
/* line 487, ../reveal-gdi.scss */
.reveal .roll span:after {
  content: attr(data-title);
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 2px;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform: translate3d(0px, 110%, 0px) rotateX(-90deg);
  -moz-transform: translate3d(0px, 110%, 0px) rotateX(-90deg);
  -ms-transform: translate3d(0px, 110%, 0px) rotateX(-90deg);
  transform: translate3d(0px, 110%, 0px) rotateX(-90deg);
}
/* line 504, ../reveal-gdi.scss */
.reveal .slides {
  position: absolute;
  max-width: 900px;
  width: 80%;
  height: 60%;
  left: 50%;
  top: 50%;
  margin-top: -320px;
  padding: 20px 0px;
  overflow: visible;
  z-index: 1;
  text-align: center;
  -webkit-transition: -webkit-perspective .4s ease;
  -moz-transition: -moz-perspective .4s ease;
  -ms-transition: -ms-perspective .4s ease;
  -o-transition: -o-perspective .4s ease;
  transition: perspective .4s ease;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  -ms-perspective: 600px;
  perspective: 600px;
  -webkit-perspective-origin: 0% 25%;
  -moz-perspective-origin: 0% 25%;
  -ms-perspective-origin: 0% 25%;
  perspective-origin: 0% 25%;
}
/* line 529, ../reveal-gdi.scss */
.reveal .slides > section {
  display: none;
  position: absolute;
  width: 100%;
  min-height: 600px;
  z-index: 10;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: all 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: all 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: all 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: all 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  margin-left: -50%;
}
/* line 544, ../reveal-gdi.scss */
.reveal .slides > section > section {
  display: none;
  position: absolute;
  width: 100%;
  min-height: 600px;
  z-index: 10;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: all 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: all 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: all 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: all 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}
/* line 560, ../reveal-gdi.scss */
.reveal .slides > section.present {
  display: block;
  z-index: 11;
  opacity: 1;
}
/* line 566, ../reveal-gdi.scss */
.reveal .slides > section.past {
  display: block;
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0) rotateY(-90deg) translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0) rotateY(-90deg) translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0) rotateY(-90deg) translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0) rotateY(-90deg) translate3d(-100%, 0, 0);
}
/* line 574, ../reveal-gdi.scss */
.reveal .slides > section.future {
  display: block;
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0) rotateY(90deg) translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0) rotateY(90deg) translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0) rotateY(90deg) translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0) rotateY(90deg) translate3d(100%, 0, 0);
}
/* line 583, ../reveal-gdi.scss */
.reveal .slides > section > section.past {
  display: block;
  opacity: 0;
  -webkit-transform: translate3d(0, -50%, 0) rotateX(70deg) translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0) rotateX(70deg) translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0) rotateX(70deg) translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0) rotateX(70deg) translate3d(0, -50%, 0);
}
/* line 591, ../reveal-gdi.scss */
.reveal .slides > section > section.future {
  display: block;
  opacity: 0;
  -webkit-transform: translate3d(0, 50%, 0) rotateX(-70deg) translate3d(0, 50%, 0);
  -moz-transform: translate3d(0, 50%, 0) rotateX(-70deg) translate3d(0, 50%, 0);
  -ms-transform: translate3d(0, 50%, 0) rotateX(-70deg) translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0) rotateX(-70deg) translate3d(0, 50%, 0);
}
/* line 603, ../reveal-gdi.scss */
.reveal.concave .slides > section.past {
  -webkit-transform: translate3d(-100%, 0, 0) rotateY(90deg) translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0) rotateY(90deg) translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0) rotateY(90deg) translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0) rotateY(90deg) translate3d(-100%, 0, 0);
}
/* line 609, ../reveal-gdi.scss */
.reveal.concave .slides > section.future {
  -webkit-transform: translate3d(100%, 0, 0) rotateY(-90deg) translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0) rotateY(-90deg) translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0) rotateY(-90deg) translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0) rotateY(-90deg) translate3d(100%, 0, 0);
}
/* line 616, ../reveal-gdi.scss */
.reveal.concave .slides > section > section.past {
  -webkit-transform: translate3d(0, -80%, 0) rotateX(-70deg) translate3d(0, -80%, 0);
  -moz-transform: translate3d(0, -80%, 0) rotateX(-70deg) translate3d(0, -80%, 0);
  -ms-transform: translate3d(0, -80%, 0) rotateX(-70deg) translate3d(0, -80%, 0);
  transform: translate3d(0, -80%, 0) rotateX(-70deg) translate3d(0, -80%, 0);
}
/* line 622, ../reveal-gdi.scss */
.reveal.concave .slides > section > section.future {
  -webkit-transform: translate3d(0, 80%, 0) rotateX(70deg) translate3d(0, 80%, 0);
  -moz-transform: translate3d(0, 80%, 0) rotateX(70deg) translate3d(0, 80%, 0);
  -ms-transform: translate3d(0, 80%, 0) rotateX(70deg) translate3d(0, 80%, 0);
  transform: translate3d(0, 80%, 0) rotateX(70deg) translate3d(0, 80%, 0);
}
/* line 630, ../reveal-gdi.scss */
.reveal.zoom .slides > section {
  -webkit-transition: all 600ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: all 600ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: all 600ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: all 600ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: all 600ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}
/* line 636, ../reveal-gdi.scss */
.reveal.zoom .slides > section > section {
  -webkit-transition: all 600ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: all 600ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: all 600ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: all 600ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: all 600ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}
/* line 643, ../reveal-gdi.scss */
.reveal.zoom .slides > section.past {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(16);
  -moz-transform: scale(16);
  -ms-transform: scale(16);
  -o-transform: scale(16);
  transform: scale(16);
}
/* line 652, ../reveal-gdi.scss */
.reveal.zoom .slides > section.future {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0.2);
  -moz-transform: scale(0.2);
  -ms-transform: scale(0.2);
  -o-transform: scale(0.2);
  transform: scale(0.2);
}
/* line 662, ../reveal-gdi.scss */
.reveal.zoom .slides > section > section.past {
  -webkit-transform: translate(0, -150%);
  -moz-transform: translate(0, -150%);
  -ms-transform: translate(0, -150%);
  -o-transform: translate(0, -150%);
  transform: translate(0, -150%);
}
/* line 669, ../reveal-gdi.scss */
.reveal.zoom .slides > section > section.future {
  -webkit-transform: translate(0, 150%);
  -moz-transform: translate(0, 150%);
  -ms-transform: translate(0, 150%);
  -o-transform: translate(0, 150%);
  transform: translate(0, 150%);
}
/* line 679, ../reveal-gdi.scss */
.reveal.linear .slides > section.past {
  -webkit-transform: translate(-150%, 0);
  -moz-transform: translate(-150%, 0);
  -ms-transform: translate(-150%, 0);
  -o-transform: translate(-150%, 0);
  transform: translate(-150%, 0);
}
/* line 686, ../reveal-gdi.scss */
.reveal.linear .slides > section.future {
  -webkit-transform: translate(150%, 0);
  -moz-transform: translate(150%, 0);
  -ms-transform: translate(150%, 0);
  -o-transform: translate(150%, 0);
  transform: translate(150%, 0);
}
/* line 694, ../reveal-gdi.scss */
.reveal.linear .slides > section > section.past {
  -webkit-transform: translate(0, -150%);
  -moz-transform: translate(0, -150%);
  -ms-transform: translate(0, -150%);
  -o-transform: translate(0, -150%);
  transform: translate(0, -150%);
}
/* line 701, ../reveal-gdi.scss */
.reveal.linear .slides > section > section.future {
  -webkit-transform: translate(0, 150%);
  -moz-transform: translate(0, 150%);
  -ms-transform: translate(0, 150%);
  -o-transform: translate(0, 150%);
  transform: translate(0, 150%);
}
/* line 710, ../reveal-gdi.scss */
.reveal.cube .slides {
  -webkit-perspective-origin: 0% 25%;
  -moz-perspective-origin: 0% 25%;
  -ms-perspective-origin: 0% 25%;
  perspective-origin: 0% 25%;
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  -ms-perspective: 1300px;
  perspective: 1300px;
}
/* line 719, ../reveal-gdi.scss */
.reveal.cube .slides section {
  padding: 30px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 729, ../reveal-gdi.scss */
.reveal.cube .slides section:not(.stack):before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  -webkit-transform: translateZ(-20px);
  -moz-transform: translateZ(-20px);
  -ms-transform: translateZ(-20px);
  -o-transform: translateZ(-20px);
  transform: translateZ(-20px);
}
/* line 745, ../reveal-gdi.scss */
.reveal.cube .slides section:not(.stack):after {
  content: '';
  position: absolute;
  display: block;
  width: 90%;
  height: 30px;
  left: 5%;
  bottom: 0;
  background: none;
  z-index: 1;
  border-radius: 4px;
  box-shadow: 0px 95px 25px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateZ(-90px) rotateX(65deg);
  -moz-transform: translateZ(-90px) rotateX(65deg);
  -ms-transform: translateZ(-90px) rotateX(65deg);
  -o-transform: translateZ(-90px) rotateX(65deg);
  transform: translateZ(-90px) rotateX(65deg);
}
/* line 766, ../reveal-gdi.scss */
.reveal.cube .slides > section.stack {
  padding: 0;
  background: none;
}
/* line 770, ../reveal-gdi.scss */
.reveal.cube .slides > section.past {
  -webkit-transform-origin: 100% 0%;
  -moz-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
  -webkit-transform: translate3d(-100%, 0, 0) rotateY(-90deg);
  -moz-transform: translate3d(-100%, 0, 0) rotateY(-90deg);
  -ms-transform: translate3d(-100%, 0, 0) rotateY(-90deg);
  transform: translate3d(-100%, 0, 0) rotateY(-90deg);
}
/* line 780, ../reveal-gdi.scss */
.reveal.cube .slides > section.future {
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-transform: translate3d(100%, 0, 0) rotateY(90deg);
  -moz-transform: translate3d(100%, 0, 0) rotateY(90deg);
  -ms-transform: translate3d(100%, 0, 0) rotateY(90deg);
  transform: translate3d(100%, 0, 0) rotateY(90deg);
}
/* line 791, ../reveal-gdi.scss */
.reveal.cube .slides > section > section.past {
  -webkit-transform-origin: 0% 100%;
  -moz-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transform: translate3d(0, -100%, 0) rotateX(90deg);
  -moz-transform: translate3d(0, -100%, 0) rotateX(90deg);
  -ms-transform: translate3d(0, -100%, 0) rotateX(90deg);
  transform: translate3d(0, -100%, 0) rotateX(90deg);
}
/* line 801, ../reveal-gdi.scss */
.reveal.cube .slides > section > section.future {
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-transform: translate3d(0, 100%, 0) rotateX(-90deg);
  -moz-transform: translate3d(0, 100%, 0) rotateX(-90deg);
  -ms-transform: translate3d(0, 100%, 0) rotateX(-90deg);
  transform: translate3d(0, 100%, 0) rotateX(-90deg);
}
/* line 814, ../reveal-gdi.scss */
.reveal.page .slides {
  -webkit-perspective-origin: 0% 50%;
  -moz-perspective-origin: 0% 50%;
  -ms-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
  -webkit-perspective: 3000px;
  -moz-perspective: 3000px;
  -ms-perspective: 3000px;
  perspective: 3000px;
}
/* line 823, ../reveal-gdi.scss */
.reveal.page .slides section {
  padding: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 828, ../reveal-gdi.scss */
.reveal.page .slides section.past {
  z-index: 12;
}
/* line 832, ../reveal-gdi.scss */
.reveal.page .slides section:not(.stack):before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.1);
  -webkit-transform: translateZ(-20px);
  -moz-transform: translateZ(-20px);
  -ms-transform: translateZ(-20px);
  -o-transform: translateZ(-20px);
  transform: translateZ(-20px);
}
/* line 847, ../reveal-gdi.scss */
.reveal.page .slides section:not(.stack):after {
  content: '';
  position: absolute;
  display: block;
  width: 90%;
  height: 30px;
  left: 5%;
  bottom: 0;
  background: none;
  z-index: 1;
  border-radius: 4px;
  box-shadow: 0px 95px 25px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateZ(-90px) rotateX(65deg);
}
/* line 864, ../reveal-gdi.scss */
.reveal.page .slides > section.stack {
  padding: 0;
  background: none;
}
/* line 868, ../reveal-gdi.scss */
.reveal.page .slides > section.past {
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-transform: translate3d(-40%, 0, 0) rotateY(-80deg);
  -moz-transform: translate3d(-40%, 0, 0) rotateY(-80deg);
  -ms-transform: translate3d(-40%, 0, 0) rotateY(-80deg);
  transform: translate3d(-40%, 0, 0) rotateY(-80deg);
}
/* line 878, ../reveal-gdi.scss */
.reveal.page .slides > section.future {
  -webkit-transform-origin: 100% 0%;
  -moz-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 889, ../reveal-gdi.scss */
.reveal.page .slides > section > section.past {
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-transform: translate3d(0, -40%, 0) rotateX(80deg);
  -moz-transform: translate3d(0, -40%, 0) rotateX(80deg);
  -ms-transform: translate3d(0, -40%, 0) rotateX(80deg);
  transform: translate3d(0, -40%, 0) rotateX(80deg);
}
/* line 899, ../reveal-gdi.scss */
.reveal.page .slides > section > section.future {
  -webkit-transform-origin: 0% 100%;
  -moz-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 912, ../reveal-gdi.scss */
.reveal.none .slides section {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
/* line 924, ../reveal-gdi.scss */
.reveal.overview .slides {
  -webkit-perspective: 700px;
  -moz-perspective: 700px;
  -ms-perspective: 700px;
  perspective: 700px;
}
/* line 929, ../reveal-gdi.scss */
.reveal.overview .slides section {
  padding: 20px 0;
  max-height: 600px;
  overflow: hidden;
  opacity: 1 !important;
  visibility: visible !important;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
}
/* line 937, ../reveal-gdi.scss */
.reveal.overview .slides section .fragment {
  opacity: 1;
}
/* line 940, ../reveal-gdi.scss */
.reveal.overview .slides section:after, .reveal.overview .slides section:before {
  display: none !important;
}
/* line 943, ../reveal-gdi.scss */
.reveal.overview .slides section > section {
  opacity: 1;
  cursor: pointer;
}
/* line 947, ../reveal-gdi.scss */
.reveal.overview .slides section:hover {
  background: rgba(0, 0, 0, 0.3);
}
/* line 950, ../reveal-gdi.scss */
.reveal.overview .slides section.present {
  background: rgba(0, 0, 0, 0.3);
}
/* line 954, ../reveal-gdi.scss */
.reveal.overview .slides > section.stack {
  background: none;
  padding: 0;
  overflow: visible;
}
/* line 960, ../reveal-gdi.scss */
.reveal .pause-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
/* line 976, ../reveal-gdi.scss */
.reveal.paused .pause-overlay {
  visibility: visible;
  opacity: 1;
}

/* line 982, ../reveal-gdi.scss */
.no-transforms {
  overflow-y: auto;
}
/* line 984, ../reveal-gdi.scss */
.no-transforms .slides section {
  display: block !important;
  opacity: 1 !important;
  position: relative !important;
  height: auto;
  min-height: auto;
  margin-bottom: 100px;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  transform: none;
}

/*********************************************
 * BACKGROUND STATES
 *********************************************/
/* line 1002, ../reveal-gdi.scss */
.reveal .state-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: background 800ms ease;
  -moz-transition: background 800ms ease;
  -ms-transition: background 800ms ease;
  -o-transition: background 800ms ease;
  transition: background 800ms ease;
}

/* line 1014, ../reveal-gdi.scss */
.alert .reveal .state-background {
  background: rgba(200, 50, 30, 0.6);
}

/* line 1018, ../reveal-gdi.scss */
.soothe .reveal .state-background {
  background: rgba(50, 200, 90, 0.4);
}

/* line 1022, ../reveal-gdi.scss */
.blackout .reveal .state-background {
  background: rgba(0, 0, 0, 0.6);
}

/*********************************************
 * SPEAKER NOTES
 *********************************************/
/* line 1030, ../reveal-gdi.scss */
.reveal aside.notes {
  display: none;
}

/*********************************************
 * ZOOM PLUGIN
 *********************************************/
/* line 1039, ../reveal-gdi.scss */
.zoomed .reveal * {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
  -webkit-backface-visibility: visible !important;
  -moz-backface-visibility: visible !important;
  -ms-backface-visibility: visible !important;
  backface-visibility: visible !important;
}
/* line 1048, ../reveal-gdi.scss */
.zoomed .reveal *:before, .zoomed .reveal *:after {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
  -webkit-backface-visibility: visible !important;
  -moz-backface-visibility: visible !important;
  -ms-backface-visibility: visible !important;
  backface-visibility: visible !important;
}
/* line 1059, ../reveal-gdi.scss */
.zoomed .reveal .progress, .zoomed .reveal .controls {
  opacity: 0;
}
/* line 1062, ../reveal-gdi.scss */
.zoomed .reveal .roll span {
  background: none;
}
/* line 1064, ../reveal-gdi.scss */
.zoomed .reveal .roll span:after {
  visibility: hidden;
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Slab Light"), local("RobotoSlab-Light"), url(http://themes.googleusercontent.com/static/fonts/robotoslab/v3/dazS1PrQQuCxC3iOAJFEJfR_54zmj3SbGZQh3vCOwvY.woff) format("woff");
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url(http://themes.googleusercontent.com/static/fonts/robotoslab/v3/y7lebkjgREBJK96VQi37ZrrIa-7acMAeDBVuclsi6Gc.woff) format("woff");
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url(http://themes.googleusercontent.com/static/fonts/robotoslab/v3/dazS1PrQQuCxC3iOAJFEJRbnBKKEOwRKgsHDreGcocg.woff) format("woff");
}

@media only screen and (min-height: 750px) {
  /* line 30, source/gdi-2014.scss */
  .reveal .slides {
    top: 42%;
  }
}
@media only screen and (min-height: 950px) {
  /* line 36, source/gdi-2014.scss */
  .reveal .slides {
    top: 38%;
  }
}
/* line 64, source/gdi-2014.scss */
.reveal .bold {
  font-weight: bold;
}
/* line 67, source/gdi-2014.scss */
.reveal .italic {
  font-style: italic;
}
/* line 70, source/gdi-2014.scss */
.reveal .medium {
  font-size: .9em;
}
/* line 73, source/gdi-2014.scss */
.reveal .small {
  font-size: .7em;
}
/* line 76, source/gdi-2014.scss */
.reveal .xs {
  font-size: .6em;
}
/* line 80, source/gdi-2014.scss */
.reveal .no-border {
  border: none;
  box-shadow: none;
}
/* line 85, source/gdi-2014.scss */
.reveal li > .code {
  color: #4ba1c8 !important;
}
/* line 89, source/gdi-2014.scss */
.reveal .bg-blue {
  background: #4ba1c8;
}
/* line 93, source/gdi-2014.scss */
.reveal .bg-pink {
  background: #f05b62;
}
/* line 97, source/gdi-2014.scss */
.reveal .bg-yellow {
  background: #edab23;
}
/* line 101, source/gdi-2014.scss */
.reveal .bg-green {
  background: #34424b;
}
/* line 110, source/gdi-2014.scss */
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  line-height: 1.1;
  font-weight: 700;
}
/* line 113, source/gdi-2014.scss */
.reveal h1.blue,
.reveal h2.blue,
.reveal h3.blue,
.reveal h4.blue,
.reveal h5.blue,
.reveal h6.blue {
  color: #4ba1c8;
}
/* line 117, source/gdi-2014.scss */
.reveal h1.green,
.reveal h2.green,
.reveal h3.green,
.reveal h4.green,
.reveal h5.green,
.reveal h6.green {
  color: #92bb44;
}
/* line 121, source/gdi-2014.scss */
.reveal h1.yellow,
.reveal h2.yellow,
.reveal h3.yellow,
.reveal h4.yellow,
.reveal h5.yellow,
.reveal h6.yellow {
  color: #edab23;
}
/* line 125, source/gdi-2014.scss */
.reveal h1.red,
.reveal h2.red,
.reveal h3.red,
.reveal h4.red,
.reveal h5.red,
.reveal h6.red {
  color: #8b0036;
}
/* line 129, source/gdi-2014.scss */
.reveal h1.black,
.reveal h2.black,
.reveal h3.black,
.reveal h4.black,
.reveal h5.black,
.reveal h6.black {
  color: #8b0036;
}
/* line 134, source/gdi-2014.scss */
.reveal h5.rule {
  text-align: center;
  text-transform: uppercase !important;
  font-size: .75em;
  margin: 0 0 2em !important;
}
/* line 139, source/gdi-2014.scss */
.reveal h5.rule span {
  background-color: white;
  padding: 0 1em;
}
/* line 143, source/gdi-2014.scss */
.reveal h5.rule:after {
  content: "";
  border-color: inherit;
  border-bottom: 1px solid;
  display: block;
  margin-top: -.5em;
}
/* line 153, source/gdi-2014.scss */
.reveal p {
  margin-bottom: .7em;
}
/* line 156, source/gdi-2014.scss */
.reveal li {
  margin-bottom: .33em;
}
/* line 159, source/gdi-2014.scss */
.reveal h3 {
  font-size: 1.25em;
}
/* line 162, source/gdi-2014.scss */
.reveal .not-bottom, .reveal .not-bottom li {
  margin-bottom: 0;
}
/* line 166, source/gdi-2014.scss */
.reveal .margin-top {
  margin-top: 2em !important;
}
/* line 170, source/gdi-2014.scss */
.reveal blockquote {
  box-shadow: none;
}
/* line 173, source/gdi-2014.scss */
.reveal .key {
  line-height: 1.5em;
  margin-bottom: 30px;
  text-align: left;
}
/* line 184, source/gdi-2014.scss */
.reveal .col-25 {
  float: left;
  width: 21.62%;
}
/* line 188, source/gdi-2014.scss */
.reveal .col-30 {
  float: left;
  width: 28.2%;
}
/* line 192, source/gdi-2014.scss */
.reveal .col-50 {
  float: left;
  width: 47%;
}
/* line 196, source/gdi-2014.scss */
.reveal .col-60 {
  float: left;
  width: 56.4%;
}
/* line 200, source/gdi-2014.scss */
.reveal .col-75 {
  float: left;
  width: 70.5%;
}
/* line 204, source/gdi-2014.scss */
.reveal [class^="col"] + [class^="col"] {
  margin-left: 3%;
}

/* line 64, source/advanced-examples.scss */
.no-frills, .reveal .photo-caption img, .reveal .photo img, .reveal .photo-stack img {
  margin: 0;
  padding: 0;
  border: 0;
  box-shadow: none;
}

/* line 73, source/advanced-examples.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 78, source/advanced-examples.scss */
.clearfix:after {
  clear: both;
}

/* line 82, source/advanced-examples.scss */
.absolute-example, .absolute-example-right {
  height: 200px;
  width: 200px;
  background: #92bb44;
  position: absolute;
  z-index: 10000;
  top: 0;
  left: 0;
  padding: 10px;
  font-size: 24px;
}
/* line 90, source/advanced-examples.scss */
.absolute-example pre, .absolute-example-right pre {
  font-size: 14px;
}

/* line 95, source/advanced-examples.scss */
.absolute-example-right {
  height: 200px;
  width: 200px;
  background: #4ba1c8;
  top: 60px;
  right: 20px;
  left: auto;
}

/* line 103, source/advanced-examples.scss */
.relative-example {
  position: relative;
  background: #f59398;
  width: 500px;
  margin-top: 200px;
  margin-left: 550px;
  height: 400px;
  z-index: 1000000;
}

/* line 117, source/advanced-examples.scss */
.reveal .relative-parent-outside {
  position: relative;
  background: #f59398;
  height: 300px;
}
/* line 123, source/advanced-examples.scss */
.reveal .absolute-outside {
  position: absolute;
  bottom: -90px;
  right: 0;
  height: 90px;
  width: 90px;
  background: #92bb44;
}
/* line 130, source/advanced-examples.scss */
.reveal .floated-left {
  float: left;
  text-align: left;
  width: 200px;
  background: #edab23;
  color: black;
  padding: 10px;
  margin: 0 20px 20px 0;
}
/* line 138, source/advanced-examples.scss */
.reveal .floated-left.height-tall {
  height: 170px;
}
/* line 141, source/advanced-examples.scss */
.reveal .floated-left.height-short {
  height: 100px;
}
/* line 145, source/advanced-examples.scss */
.reveal .myhover {
  display: block;
  background: #edab23;
}
/* line 148, source/advanced-examples.scss */
.reveal .myhover span {
  background: #4ba1c8;
  display: none;
}
/* line 153, source/advanced-examples.scss */
.reveal .myhover:hover span {
  display: block;
}
/* line 159, source/advanced-examples.scss */
.reveal .word-bubble-1 {
  width: 400px;
  float: left;
  background: black;
  border-radius: 40px;
  padding: 1em;
  font-size: 20px;
  color: white;
  position: relative;
}
/* line 17, source/advanced-examples.scss */
.reveal .word-bubble-1 p {
  margin: 0;
  padding: 0;
}
/* line 21, source/advanced-examples.scss */
.reveal .word-bubble-1 span {
  position: absolute;
  top: 100%;
  right: 20%;
  height: 0;
  width: 0;
  border: 22px solid transparent;
  border-left-width: 20px;
  border-right-width: 20px;
  border-top-color: black;
}
/* line 163, source/advanced-examples.scss */
.reveal .word-bubble-2 {
  width: 200px;
  float: left;
  background: #cccccc;
  border-radius: 40px;
  padding: 1em;
  font-size: 20px;
  color: black;
  position: relative;
}
/* line 17, source/advanced-examples.scss */
.reveal .word-bubble-2 p {
  margin: 0;
  padding: 0;
}
/* line 21, source/advanced-examples.scss */
.reveal .word-bubble-2 span {
  position: absolute;
  top: 100%;
  right: 20%;
  height: 0;
  width: 0;
  border: 22px solid transparent;
  border-left-width: 20px;
  border-right-width: 20px;
  border-top-color: #cccccc;
}
/* line 167, source/advanced-examples.scss */
.reveal .word-bubble-3 {
  width: 200px;
  background: #cccccc;
  border-radius: 40px;
  padding: 1em;
  font-size: 20px;
  color: black;
  position: relative;
  margin: 0 0 40px;
}
/* line 43, source/advanced-examples.scss */
.reveal .word-bubble-3 p {
  margin: 0;
  padding: 0;
}
/* line 47, source/advanced-examples.scss */
.reveal .word-bubble-3:after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  right: 20%;
  height: 0;
  width: 0;
  border: 22px solid transparent;
  border-left-width: 20px;
  border-right-width: 20px;
  border-top-color: #cccccc;
}
/* line 171, source/advanced-examples.scss */
.reveal .word-bubble-1 + .word-bubble-2 {
  margin-left: 2em;
}
/* line 175, source/advanced-examples.scss */
.reveal pre.clearfix {
  margin-top: 2em;
}
/* line 179, source/advanced-examples.scss */
.reveal .photo-caption {
  position: relative;
  display: inline-block;
  line-height: 0;
}
/* line 186, source/advanced-examples.scss */
.reveal .photo-caption span {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  bottom: 0;
  width: 100%;
  left: 0;
  line-height: 1;
  padding: .5em 0;
  font-size: .7em;
}
/* line 199, source/advanced-examples.scss */
.reveal .photo, .reveal .photo-stack {
  width: 260px;
  position: relative;
  background: #fafafa;
  border: 10px solid #fafafa;
  border-bottom-width: 55px;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.7);
}
/* line 206, source/advanced-examples.scss */
.reveal .photo img, .reveal .photo-stack img {
  max-width: none;
}
/* line 212, source/advanced-examples.scss */
.reveal .photo-stack:after, .reveal .photo-stack:before {
  content: "";
}
/* line 216, source/advanced-examples.scss */
.reveal .photo-stack:before, .reveal .stack-one, .reveal .photo-stack:after, .reveal .stack-two {
  display: block;
  position: absolute;
  border: 10px solid #fafafa;
  border-bottom-width: 55px;
  height: 260px;
  width: 260px;
  top: 12px;
  left: 12px;
  background: black;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.7);
  z-index: -1;
}
/* line 230, source/advanced-examples.scss */
.reveal .photo-stack:after, .reveal .stack-two {
  top: 30px;
  left: 30px;
  z-index: -2;
}
/* line 237, source/advanced-examples.scss */
.reveal .square {
  height: 150px;
  width: 150px;
  background: #92bb44;
}
/* line 241, source/advanced-examples.scss */
.reveal .square-transparent {
  height: 200px;
  width: 200px;
  background: transparent;
}
/* line 243, source/advanced-examples.scss */
.reveal .square-transparent:hover {
  background: #f05b62;
}
/* line 255, source/advanced-examples.scss */
.reveal .square-border {
  height: 100px;
  width: 100px;
  background: #92bb44;
  border: 18px outset;
  border-top-color: #759636;
  border-right-color: #7b9d39;
  border-bottom-color: #587029;
  border-left-color: #607b2d;
  margin: 0 auto;
}
/* line 263, source/advanced-examples.scss */
.reveal .square-noheight-border {
  width: 0;
  height: 0;
  border: 65px outset;
  border-top-color: #759636;
  border-right-color: #7b9d39;
  border-bottom-color: #587029;
  border-left-color: #607b2d;
  margin: 0 auto;
}
/* line 271, source/advanced-examples.scss */
.reveal .square-noheight-border-t1, .reveal .square-noheight-border-t2, .reveal .square-noheight-border-t3, .reveal .square-noheight-border-t4 {
  width: 0;
  height: 0;
  border: 60px solid;
  border-top-color: #759636;
  border-right-color: #7b9d39;
  border-bottom-color: #587029;
  border-left-color: #607b2d;
  border-bottom-color: transparent;
  margin: 0 auto;
}
/* line 280, source/advanced-examples.scss */
.reveal .square-noheight-border-t2, .reveal .square-noheight-border-t3, .reveal .square-noheight-border-t4 {
  border-right-color: transparent;
}
/* line 285, source/advanced-examples.scss */
.reveal .square-noheight-border-t3, .reveal .square-noheight-border-t4 {
  border-left-color: transparent;
}
/* line 289, source/advanced-examples.scss */
.reveal .square-noheight-border-t4 {
  border-left-color: transparent;
}
/* line 294, source/advanced-examples.scss */
.reveal .triangle {
  width: 0;
  height: 0;
  border: 120px solid transparent;
  border-left-width: 80px;
  border-right-width: 80px;
  border-bottom-color: #4ba1c8;
  margin: -120px auto 0;
}
/* line 304, source/advanced-examples.scss */
.reveal .circle {
  height: 120px;
  width: 120px;
  background: #f05b62;
  border-radius: 50%;
}
/* line 309, source/advanced-examples.scss */
.reveal .water {
  height: 300px;
  width: 300px;
  background: transparent;
  float: left;
}
/* line 312, source/advanced-examples.scss */
.reveal .water img {
  border: none;
  box-shadow: none;
}
/* line 318, source/advanced-examples.scss */
.reveal .water-transparent {
  background: url(../../images/image-examples/water-transparent.png) no-repeat #f05b62;
}
/* line 322, source/advanced-examples.scss */
.reveal .starburst {
  height: 300px;
  width: 300px;
  background: transparent;
  background: url(../../images/image-examples/starburst-transparent.png) no-repeat #4ba1c8;
  float: left;
}
/* line 328, source/advanced-examples.scss */
.reveal .starburst-gif {
  background: url(../../images/image-examples/starburst.gif) no-repeat;
}
/* line 332, source/advanced-examples.scss */
.reveal .starburst-gif-blue {
  background: url(../../images/image-examples/starburst.gif) no-repeat #4ba1c8;
}
/* line 336, source/advanced-examples.scss */
.reveal .water-jpg {
  height: 400px;
  width: 400px;
  background: #f05b62;
  padding: 20px;
}
/* line 341, source/advanced-examples.scss */
.reveal .batman-large {
  margin: -100px 0 0 -700px;
}
/* line 343, source/advanced-examples.scss */
.reveal .batman-large img {
  width: 1900px !important;
  max-width: 1900px !important;
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/
/* line 7, template/theme.scss */
body {
  background: white;
  background-color: white;
}

/* line 12, template/theme.scss */
.reveal {
  font-family: "Roboto Slab", serif;
  font-size: 34px;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #34424b;
}

/* line 20, template/theme.scss */
::selection {
  color: white;
  background: rgba(0, 0, 0, 0.99);
  text-shadow: none;
}

/*********************************************
 * HEADERS
 *********************************************/
/* line 35, template/theme.scss */
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #f05b62;
  font-family: "Roboto Slab", serif;
  line-height: 0.9em;
  letter-spacing: 0.02em;
  text-transform: none;
  text-shadow: none;
}

/*********************************************
 * LINKS
 *********************************************/
/* line 56, template/theme.scss */
.reveal a:not(.image) {
  color: #f05b62;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease;
}

/* line 66, template/theme.scss */
.reveal a:not(.image):hover {
  color: #f9b8bb;
  text-shadow: none;
  border: none;
}

/* line 73, template/theme.scss */
.reveal .roll span:after {
  color: #fff;
  background: #e9151f;
}

/*********************************************
 * IMAGES
 *********************************************/
/* line 83, template/theme.scss */
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #34424b;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

/* line 97, template/theme.scss */
.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #f05b62;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
/* line 110, template/theme.scss */
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #f05b62;
}

/* line 115, template/theme.scss */
.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #f05b62;
}

/* line 120, template/theme.scss */
.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #f05b62;
}

/* line 125, template/theme.scss */
.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #f05b62;
}

/* line 129, template/theme.scss */
.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #f9b8bb;
}

/* line 133, template/theme.scss */
.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #f9b8bb;
}

/* line 137, template/theme.scss */
.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #f9b8bb;
}

/* line 141, template/theme.scss */
.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #f9b8bb;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
/* line 150, template/theme.scss */
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
}

/* line 153, template/theme.scss */
.reveal .progress span {
  background: #f05b62;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

/*********************************************
 * SLIDE NUMBER
 *********************************************/
/* line 166, template/theme.scss */
.reveal .slide-number {
  color: #f05b62;
}
