//------------- Examples

@mixin example( $color, $size ) {
	    height: $size;
	    width: $size;
	    background: $color;
}
@mixin wordbubble( $color,$fontcolor, $size ) {
	    width: $size;
	    float: left;
	    background: $color;
	    border-radius: 40px;
	    padding: 1em;
	    font-size: 20px;
	    color: $fontcolor;
	    position: relative;
	    p {
	    	margin: 0;
	    	padding: 0;
	    }
	    span {
	    	position: absolute;
	    	top: 100%;
	    	right: 20%;
	    	height: 0;
	    	width: 0;
	    	border: 22px solid transparent;
	    	border-left-width: 20px;
	    	border-right-width: 20px;
	    	border-top-color: $color;
	    }
}

@mixin wbAfter( $color,$fontcolor, $size ) {
	    width: $size;
	    background: $color;
	    border-radius: 40px;
	    padding: 1em;
	    font-size: 20px;
	    color: $fontcolor;
	    position: relative;
	    margin: 0 0 40px;
	    p {
	    	margin: 0;
	    	padding: 0;
	    }
	    &:after {
	    	content: "";
	    	display: block;
	    	position: absolute;
	    	top: 100%;
	    	right: 20%;
	    	height: 0;
	    	width: 0;
	    	border: 22px solid transparent;
	    	border-left-width: 20px;
	    	border-right-width: 20px;
	    	border-top-color: $color;
	    }
}



.no-frills {
	margin: 0;
	  		padding:0;
	  		border: 0;
	  		box-shadow: none;
}

.clearfix {
	&:before,
	&:after {
	    content: "";
	    display: table;
	}

	&:after {
	    clear: both;
	}
}
.absolute-example {
 	@include example($color: $green, $size: 200px);
 	position: absolute;
 	z-index: 10000;
 	top: 0;
 	left: 0;
 	padding:10px;
 	font-size: 24px;
 	pre {
 		font-size: 14px;
 	}
 }

 .absolute-example-right {
 	@extend .absolute-example;
 	@include example($color: $blue, $size: 200px);
 	top: 60px;
 	right: 20px;
 	left: auto;
 }

.relative-example {
	position: relative;
	background: lighten($pink, 12);
	width: 500px;
margin-top: 200px;
margin-left: 550px;
	height: 400px;
	z-index: 1000000;
}



.reveal {

	.relative-parent-outside {
		position: relative;
		background: lighten($pink, 12);
		height: 300px;
	}

	.absolute-outside {
		position: absolute;
		bottom: -90px;
		right: 0;
		@include example($color: $green, $size: 90px);
	}

	.floated-left {
	    float: left;
	    text-align: left;
	    width: 200px;
	    background: $yellow;
	    color: black;
	    padding: 10px;
	    margin: 0 20px 20px 0;
	    &.height-tall {
	      height: 170px;
	    }
	    &.height-short {
	      height: 100px;
	    }
	  }
	  .myhover {
	  	display: block;
	  	background:$yellow;
	  	span {
	  		background: $blue;
	  		display: none;
	  	}
	  	&:hover {
	  		span {
	  			display: block;
	  		}
	  	}
	  }

	  .word-bubble-1 {
			@include wordbubble($color: black, $fontcolor: white, $size: 400px);
	  }

	  .word-bubble-2 {
			@include wordbubble($color: #ccc, $fontcolor: black, $size: 200px);
	  }

	  .word-bubble-3 {
			@include wbAfter($color: #ccc, $fontcolor: black, $size: 200px);
	  }

	  .word-bubble-1 + .word-bubble-2 {
	  	margin-left: 2em;
	  }

	  pre.clearfix {
	  	margin-top: 2em;
	  }

	  .photo-caption {
	  	position:relative;
	  	display: inline-block;
	  	line-height: 0;
	  	img {
			@extend .no-frills;
	  	}
	  	span {
	  		position: absolute;
	  		background: rgba(0,0,0,.7);
	  		color: white;
	  		bottom: 0;
	  		width: 100%;
	  		left: 0;
	  		line-height: 1;
	  		padding: .5em 0;
	  		font-size: .7em;
	  	}
	  }

	  .photo, .photo-stack {
	  	width: 260px;
		position: relative;
		background: #fafafa;
		border: 10px solid #fafafa;
		border-bottom-width: 55px;
		box-shadow: 3px 3px 12px rgba(0,0,0,.7);
		img {
			@extend .no-frills;
			max-width: none;
		}
	  }

	  .photo-stack:after, .photo-stack:before {
	  	content: "";
	  }

	  .photo-stack:before, .stack-one {
	  	display: block;
		position: absolute;
		border: 10px solid #fafafa;
		border-bottom-width: 55px;
		height: 260px;
		width: 260px;
		top: 12px;
		left: 12px;
		background: black;
		box-shadow: 3px 3px 12px rgba(0,0,0,.7);
		z-index: -1;
	  }

	  .photo-stack:after, .stack-two {
	  	@extend .stack-one;
	  	top: 30px;
	  	left: 30px;
	  	z-index: -2;
	  }

	  .square {
		@include example($color: $green, $size: 150px);
	}

	.square-transparent {
		@include example($color: transparent, $size: 200px);
		&:hover {
			background: $pink;
		}
	}

	@mixin green () {
		border-top-color: darken($green, 10%);
		border-right-color: darken($green, 8%);
		border-bottom-color: darken($green, 20%);
		border-left-color: darken($green, 17%);
	}

	.square-border {
		@include example($color: $green, $size: 100px);
		border: 18px outset;
		@include green;
		margin: 0 auto;

	}

	.square-noheight-border{
		width:0;
		height: 0;
		border: 65px outset;
		@include green;
		margin: 0 auto;
	}

	.square-noheight-border-t1{
		width:0;
		height: 0;
		border: 60px solid;
		@include green;
		border-bottom-color: transparent;
		margin: 0 auto;
	}

	.square-noheight-border-t2{
		@extend .square-noheight-border-t1;
		border-right-color: transparent;
	}

	.square-noheight-border-t3{
		@extend .square-noheight-border-t2;
		border-left-color: transparent;
	}
	.square-noheight-border-t4{
		@extend .square-noheight-border-t3;
		border-left-color: transparent;
	}

	.triangle {
		width:0;
		height: 0;
		border: 120px solid transparent;
		border-left-width: 80px;
		border-right-width: 80px;
		border-bottom-color: $blue;
		margin: -120px auto 0;
	}

	.circle {
		@include example($color:$pink, $size: 120px);
		border-radius: 50%;
	}

	.water {
		@include example($color:transparent, $size: 300px);
		float: left;
		img {
			border: none;
			box-shadow: none;
		}
	}

	.water-transparent {
		background:url(../../images/image-examples/water-transparent.png) no-repeat $pink;
	}

	.starburst {
		@include example($color:transparent, $size: 300px);
		background:url(../../images/image-examples/starburst-transparent.png) no-repeat $blue;
		float: left;
	}

	.starburst-gif {
		background:url(../../images/image-examples/starburst.gif) no-repeat;
	}

	.starburst-gif-blue {
		background:url(../../images/image-examples/starburst.gif) no-repeat $blue;
	}

	.water-jpg {
		@include example($color:$pink, $size: 400px);
		padding: 20px;
	}

	.batman-large {
		margin: -100px 0 0 -700px;
		img {
			width: 1900px!important;
			max-width: 1900px!important;
		}
	}
}


