
// Default mixins and settings -----------------
@import "../../reveal-gdi";
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Slab Light'), local('RobotoSlab-Light'), url(http://themes.googleusercontent.com/static/fonts/robotoslab/v3/dazS1PrQQuCxC3iOAJFEJfR_54zmj3SbGZQh3vCOwvY.woff) format('woff');
}
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(http://themes.googleusercontent.com/static/fonts/robotoslab/v3/y7lebkjgREBJK96VQi37ZrrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(http://themes.googleusercontent.com/static/fonts/robotoslab/v3/dazS1PrQQuCxC3iOAJFEJRbnBKKEOwRKgsHDreGcocg.woff) format('woff');
}

//let's give ourselves a little more height when the screen is tall enough

@media only screen and (min-height: 750px) {
	.reveal .slides {
		top: 42%;
	}
}

@media only screen and (min-height: 950px) {
	.reveal .slides {
		top: 38%;
	}
}


$ltblue: $pink;
$greyblue: #34424b;
$aqua:$blue;
$dandelion: $yellow;
$royal: $blue;

// Override theme settings (see ../template/settings.scss)
$mainFont: 'Roboto Slab', serif;
$mainFontSize: 34px;
$mainColor: $greyblue;
$headingFont: $mainFont;
$headingColor: $pink;
$headingTextShadow: none;
$headingTextTransform: none;
$backgroundColor: #fff;
$linkColor: $pink;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: rgba(0, 0, 0, 0.99);

//Don't namespace the animation definition

.reveal {
	.bold {
		font-weight: bold;
	}
	.italic {
		font-style: italic;
	}
	.medium {
		font-size: .9em;
	}
	.small {
		font-size: .7em;
	}
	.xs {
		font-size: .6em;
	}

	.no-border {
		border: none;
		box-shadow:none;
	}

	li > .code {
		color: $blue!important;
	}

	.bg-blue {
		background: $blue;
	}

	.bg-pink {
		background: $pink;
	}

	.bg-yellow {
		background: $yellow;
	}

	.bg-green {
		background: $greyblue;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: 1.1;
		font-weight: 700;
		&.blue {
		  color: $blue;
		}

		&.green {
		  color: $green;
		}

		&.yellow {
		  color: $yellow;
		}

		&.red {
		  color: $red;
		}

		&.black {
		  color: $red;
		}
	}

	h5.rule {
		text-align: center;
		text-transform: uppercase!important;
		font-size: .75em;
		margin: 0 0 2em!important;
		span {
			background-color: white;
			padding: 0 1em;
		}
		&:after {
			content: "";
			border-color:inherit;
			border-bottom: 1px solid;
			display: block;	
			margin-top: -.5em;

		}
	}

	p {
		margin-bottom: .7em;
	}
	li {
		margin-bottom: .33em;
	}
	h3 {
		font-size: 1.25em;
	}
	.not-bottom, .not-bottom li {
		margin-bottom: 0;
	}

	.margin-top {
		margin-top: 2em!important;
	}

	blockquote {
		box-shadow: none;
	}
	.key {
		line-height: 1.5em;
		margin-bottom: 30px;
		text-align: left;
	}

	@mixin column($width){
		float: left;
		$small: $width*.94;
		width: $small;
	}
	.col-25 {
		@include column(23%);
	}

	.col-30 {
		@include column(30%);
	}

	.col-50 {
		@include column(50%);
	}

	.col-60 {
		@include column(60%);
	}

	.col-75 {
		@include column(75%);
	}

	[class^="col"] + [class^="col"] {
		margin-left: 3%;
	}
}

@import "advanced-examples";

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------