* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #fbf3de;
	border-top: 14px solid #3c3136; /* Dark brown */
	color: #3c3136;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

a {
	color: #3c3136;
}

header {
	background: #b19645; /*gold*/
}

img {
	max-width: 100%;
	border: none;
}

.brand {
	display: block;
	background: #b19645; /*Gold*/
	margin-right: 30px;
	padding: 10px;
	float: left;
	text-align: center;
}

.brand a {
	display: inline-block;
	background: url('../assets/HS_logo.png') no-repeat center;
	text-indent: -1000000px;
	height: 121px;
	width: 106px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    .brand a {
        background: url('../assets/HS_logo@2x.png');
        background-size: 121px 106px;

    }
}


.brand h1 {
	margin: 0;

	text-indent: -100000px;
}

.container-relative {
	position: relative;
}

.phone {
	float: left;
	line-height: 90px;
	padding: 0;
	margin: 0;
}

.nav {
	list-style: none; /*Gets rid of bullets!*/
	margin: 0 0 20px;
	padding: 0;
	font-weight: 700;
	text-transform: uppercase;
	clear:both;
}

.nav a {
	display: block;
	padding: 1em 0;
	text-decoration: none;
}

.nav a:hover {
	color: #5b4a52;
}
.nav-toggle {
	padding: 8px 12px 4px;
	float: right;
	border: 1px solid #3c3136;
	margin-top: 18px;
}

@media (min-width: 768px) {

	.nav-toggle {
		display: none;
	}

	header {
		background: #fbf3de; /*beige*/
	}
	
	.brand {
		position: relative;
		width: 172px;
	}

	.brand:after {
	  content: "";
	  position: absolute;
	  left: 0;
	  top: 100%;
	  width: 0;
	  height: 0;
	  border-bottom: 32px solid rgba(255, 255, 255, 0);
	  border-left: 86px solid #b19645;
	  border-right: 86px solid #b19645;
		/* Smooths jagged edges in Chrome - http://stackoverflow.com/questions/7394872/how-do-i-make-a-css-triangle-with-smooth-edges*/
	  -webkit-transform: rotate(0.01deg);
	}
	.phone {
		float: none;
		position: absolute;
		top: -14px;
		right: 0;
		background: #b19645; /*Gold*/
		margin: 0;
		padding: .5em 1em;
		z-index: 1000;
		line-height: 1;
	}

	.nav {
		position: absolute;
		bottom: 0;
		display: block!important;
	}

	.nav a {
		padding: 0;
	}

	.nav-main {
		right: 90px;
	}

	.nav-social {
		right: 0;
	}

	.nav li {
		display: inline-block;
		margin: 0 8px;
		position: relative;
	}
	.main {
			text-align: center;
	}


}

@media (min-width: 960px) {
	.nav li {

		margin: 0 18px;
	
	}

		.nav-main {
		right: 120px;
	}


}


.hero {
	text-align: center;
	background: #0B090A; /*VERY dark brown*/
	border-bottom: 14px solid #3c3136; /* Dark brown */

}

.main {
	padding-top: 2em;
	background: #fbf3de;

}

.column {
	padding: 0 2em;
}

.column-left {
	text-align: left;
}


footer {
	margin-top: 3em;
	padding: 2em 0;
	background: #b19645; /* gold */
}
